.footer{
    width: 100%;
    color: white;
    min-width: 1000px;
}

.footer__top{
    color: white;
    background-color: hsl(213, 19%, 35%);
    height: 50px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.footer__top:hover{
    background-color: hsl(213, 19%, 32%);
}

.footer__top:active{
    background-color: hsl(213, 19%, 28%);
}

.footer__main{
    background-color: var(--main-color);
    height: 370px;
    display: flex;
    justify-content: space-evenly;
    padding: 45px 0;
    box-sizing: border-box;
}
.footer__main-column{
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__main-title{
    margin: 0;
    font-size: 15px;
    width: 60%;
}
.footer__main-list{
    font-size: 14px;
    width: 60%;
}
.footer__main-list li{
    margin: 10px 0;
}