.link--teal{
    color: teal;
}
.link--underline{
    text-decoration: underline;
}

main a:hover,
.login-prompt__new a:hover{
    color: hsl(24, 100%, 50%);
    text-decoration: underline;
}

.header__nav a:hover{
    border: 1px solid white;
    border-radius: 3px;
}
